
@{
    ViewBag.Title = "Just BE | Vetted Vendors";
    Layout = "~/Areas/Client/Views/Shared/_ClientLayout.cshtml";
}

<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">

            <div class="content-title">
                <div class="content-title-inner">
                    <div class="container">
                        <h1>Vetted Vendors (Moving/Storage)</h1>

                    </div><!-- /.container -->
                </div><!-- /.content-title-inner -->
            </div><!-- /.content-title -->

            <div class="content">
                <div class="container">
                    <!-- /.filter -->

                    <div class="row">

                        <div class="col-md-12 col-lg-12">

                            <div class="row">
                                <div class="listing-detail col-md-12 col-lg-12">
                                    <!-- /.listing-user -->
                                    <div class="listing-user">
                                        <div class="listing-user-image">

                                            <a href="#" style="background-image: url('../../../../img/vendors/HannahGreeley.jpg');"></a>
                                        </div><!-- /.listing-user-image -->

                                        <div class="listing-user-title">
                                            <h2>Hannah Greeley</h2>
                                            <h3>Just BE (Design / Remodel bucket)</h3>
                                        </div><!-- /.listing-user-title -->
                                        <!-- /.listing-user-social -->
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="overview">
                                                <h2>Information</h2>

                                                <ul>
                                                    <li><strong>Name</strong><span>Hannah Greeley</span></li>
                                                    <li><strong>Phone</strong><span>+1-703.328.5716</span></li>
                                                    <li><strong>E-mail</strong><span>hannahgreeleypsu@gmail.com</span></li>
                                                </ul>
                                            </div><!-- /.overview -->
                                        </div><!-- col-* -->

                                        <div class="col-lg-7">
                                            <h2>About Hannah Greeley</h2>

                                            <p>
                                                Hannah has over 18 years experience in the DC market as a designer and project manager. Focusing on kitchen and bathroom design, she has worked on both sides; for construction companies and for manufacturers in the sale side of finished goods, including both residential to commercial projects on every level. From picking paint colors to a full scale remodel, Hannah respects your budget, timeline, and priorities.  Whether you need design advice to get your home ready for selling, new home decorating and remodeling advice on any level, or consulting on what could be done to a house you may be interested in making your new home, Hannah is here to help as part of the Jay Bauer Group experience!
                                            </p>

                                        </div><!-- /.col-* -->

                                    </div>
                                </div>


                            </div>

                        </div>






                    </div>
                    <!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div>






