
@{
    ViewBag.Title = "Just BE | Vetted Vendors";
    Layout = "~/Areas/Client/Views/Shared/_ClientLayout.cshtml";
}


<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">

            <div class="content-title">
                <div class="content-title-inner">
                    <div class="container">
                        <h1>Vetted Vendors (Moving/Storage)</h1>

                    </div><!-- /.container -->
                </div><!-- /.content-title-inner -->
            </div><!-- /.content-title -->

            <div class="content">
                <div class="container">
                    <!-- /.filter -->

                    <div class="row">

                        <div class="col-md-12 col-lg-12">

                            <div class="row">
                                <div class="listing-detail col-md-12 col-lg-12">
                                    <!-- /.listing-user -->
                                    <div class="listing-user">
                                        <div class="listing-user-image">

                                            <a href="#" style="background-image: url('../../../../img/vendors/Mike Corrado.jpg');"></a>
                                        </div><!-- /.listing-user-image -->

                                        <div class="listing-user-title">
                                            <h2>Mike Corrado</h2>
                                            <h3>Town & Country Movers, Inc. (Move Consultant)</h3>
                                        </div><!-- /.listing-user-title -->
                                        <!-- /.listing-user-social -->
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="overview">
                                                <h2>Information</h2>

                                                <ul>
                                                    <li><strong>Name</strong><span>Mike Corrado</span></li>
                                                    <li><strong>Phone</strong><span>+1-301-370-1927</span></li>
                                                    <li><strong>E-mail</strong><span>mcorrado@townandcountrymovers.com</span></li>
                                                </ul>
                                            </div><!-- /.overview -->
                                        </div><!-- col-* -->

                                        <div class="col-lg-7">
                                            <h2>About Mike Corrado</h2>

                                            <p>
                                                Mike Corrado is a Certified Moving Consultant with Town & Country Movers, Inc. and has 27 years of experience in the industry. Town & Country Movers is an independent, award winning moving company located in Gaithersburg, MD. Services provided are: Local/Long Distance/International Moves, Short/Long term Storage, Full Service Packing, Senior Relocation, Commercial Moves, and Staging. Call Mike for a free in-home or over-the-phone estimate!
                                            </p>

                                        </div><!-- /.col-* -->

                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="listing-detail col-md-12 col-lg-12">
                                    <!-- /.listing-user -->
                                    <div class="listing-user">
                                        <div class="listing-user-image">

                                            <a href="#" style="background-image: url('../../../../img/vendors/Matt-Packebusch.jpg');"></a>
                                        </div><!-- /.listing-user-image -->

                                        <div class="listing-user-title">
                                            <h2>Matt Packebusch</h2>
                                            <h3>Gentle Giant Movers (General Manager)</h3>
                                        </div><!-- /.listing-user-title -->
                                        <!-- /.listing-user-social -->
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="overview">
                                                <h2>Information</h2>

                                                <ul>
                                                    <li><strong>Name</strong><span>Matt Packebusch</span></li>
                                                    <li><strong>Phone</strong><span>+1-202-785-0213</span></li>
                                                    <li><strong>E-mail</strong><span>dc@gentlegiant.com</span></li>
                                                </ul>
                                            </div><!-- /.overview -->
                                        </div><!-- col-* -->

                                        <div class="col-lg-7">
                                            <h2>About Matt Packebusch</h2>

                                            <p>
                                                Gentle Giant DC's Regional Manager, Matt Packebusch, is the type of Giant you want to have on a long, challenging day. Since joining the company in 2006, Matt has consistently demonstrated extraordinary strength and skill, as well as a sense of humor that instantly lightens the mood and creates an atmosphere of fun for both the crew and customer.
                                            </p>

                                        </div><!-- /.col-* -->

                                    </div>
                                </div>


                            </div>

                        </div>






                    </div>
                    <!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div>





