@model RealEstate.Entities.ViewModels.VendorCategoryViewModel
@{
    ViewBag.Title = "Just BE | Vendors";
    Layout = "~/Areas/Client/Views/Shared/_ClientLayout.cshtml";

}

<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">

            <div class="content-title">
                <div class="content-title-inner">
                    <div class="container">
                        <h1>Preferred Vendor List</h1>

                    </div><!-- /.container -->
                </div><!-- /.content-title-inner -->
            </div><!-- /.content-title -->
            <div class="push-bottom">
                <div class="page-header">
                    <h5>
                        These companies and people represent the best in the DC Metro area. We've done the vetting to save you time and money
                    </h5>
                    <p>
                    </p>
                </div><!-- /.page-header -->
                <div class="categories">
                    <!-- /.row -->
                </div><!-- /.categories -->
            </div>
            <div class="content">
                <div class="container">
                    <!-- /.filter -->

                    <div class="row">

                        <div class="col-md-12 col-lg-12">

                            <div class="row">
                                @*<div class="col-lg-8">*@
                                @foreach (var item in Model.VendorCategoryList)
                                {
                                    <div class="col-lg-4">


                                        @{ var image = "";
                                            var countText = "";
                                            if (item.CategoryImage == null)
                                            { image = "noImage.png"; }
                                            else { image = item.CategoryImage; }
                                            if (item.Count == 1) { countText = "Vendor"; } else { countText = "Vendors"; }
                                        }



                                        <div class="category" style="background-image: url('/img/vendorCategory/@image');background-position:unset">


                                            <a href="@Url.Action("Details", "MyDeal", new { @area = "Client",Vendor=item.CategoryId })" class="category-link">
                                                <span class="category-content">
                                                    <span class="category-title">@item.Name</span>
                                                    @if (item.Count != 0)
                                                    {
                                                        <span class="category-subtitle">@item.Count @countText</span>
                                                    }
                                                    <span class="btn btn-primary">View </span>
                                                </span><!-- /.category-content -->
                                            </a>
                                        </div>
                                    </div>
                                            }
                            </div>

                        </div>






                    </div>
                    <!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div>




