
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Just BE | Maintainance</title>
    <link href="~/Maintainance/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Maintainance/js/jquery.min.js"></script>
    <script src="~/Maintainance/js/jquery.countdown.js"></script>
    <script src="~/Maintainance/js/script.js"></script>
    <link rel="stylesheet" href="~/Maintainance/css/jquery.countdown.css" />
</head>
<body>
    <!---start-wrap----->
    <!---start-header---->
    <div class="header">
        <div class="wrap">
            <div class="top-nav">
                <a href="#"><img src="~/img/logo.png" title="logo" /></a>
            </div>
        </div>
    </div>
    <!---End-header---->
    <!---start-content---->
    <div class="content">
        <div class="top-content">
            <h1>Something awesome is coming your way !</h1>
            <!---start-countdown-timer----->
            <div class="timer_wrap">
                <div id="counter"> </div>
            </div>
            <!---End-countdown-timer----->
        </div>
        <div class="notify">
            <h2>Our website is under construction but we are in the final stage of the development program.</h2>
            <form>
                <input type="text" class="textbox" value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                <input type="submit" value="Subscribe">
            </form>
            <h3>Please sign-up for our newsletter to get notified</h3>
        </div>
    </div>
    
    <!---End-content---->
    <!----start-footer---->
    <div class="footer">
        <div class="footer-social-icons">
            <ul>
                <li><a href="https://www.facebook.com/JayBauerGroup"><img src="~/Maintainance/images/facebook.png" title="facebook" /></a></li>
                <li><a href="https://twitter.com/jaybauerrealtor"><img src="~/Maintainance/images/twitter.png" title="Twitter" /></a></li>
                
            </ul>
            <p> &copy; 2017 Jay Bauer Group. All rights reserved | Design by <a href="http://jaybauergroup.com/">Jay Bauer Group</a></p>
        </div>
        <!----End-footer---->
        <!---End-wrap----->
        </div>
</body>
</html>
