
@{
    ViewBag.Title = "Testingview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Agents</h2>
                <span>List of Our Agents</span>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Listings</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <!-- Submit Page -->


        <div class="row">
            <div class="container">
                <div class="row">

                    <!-- Widget -->
                    <div class="col-md-3">
                        <div class="sidebar left">
                            <div class="my-account-nav-container">

                                <ul class="my-account-nav">
                                    <li class="sub-nav-title">Manage Account</li>
                                    <li><a href="my-profile.html"><i class="sl sl-icon-user"></i> My Profile</a></li>
                                    <li><a href="change-password.html"><i class="sl sl-icon-lock"></i> Change Password</a></li>
                                    <li><a href="#"><i class="sl sl-icon-power"></i> Log Out</a></li>
                                </ul>

                                <ul class="my-account-nav">
                                    <li class="sub-nav-title">Track Deal</li>
                                    <li><a href="my-properties.html" class="current"><i class="sl sl-icon-docs"></i> Deal Status</a></li>
                                </ul>
                                <ul class="my-account-nav"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="submit-page">
                            <h3>Basic Information</h3>
                            <div class="submit-section margin-bottom-15">
                                <!-- Title -->
                                <div class="col-md-12 ">
                                    <div class="form">
                                        <div class="col-md-4">
                                            <h5>Tracking ID <i class="tip" data-tip-content="Type title that will also contains an unique feature of your property (e.g. renovated, air contidioned)"></i></h5>
                                            <span>200751AAbC</span>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Name</h5>
                                            <span>Sagar Sharma</span>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Email</h5>
                                            <span>a@b.com</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="form">
                                        <div class="col-md-4">
                                            <h5>Status <i class="tip" data-tip-content="Type title that will also contains an unique feature of your property (e.g. renovated, air contidioned)"></i></h5>
                                            <span>22%</span>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Description</h5>
                                            <span>ome Description followed</span>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Requested On</h5>
                                            <span>10-Dec-2017</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-7 col-lg-offset-1 margin-top-50">
                        <div class="clearfix"></div>
                        <table class="manage-table responsive-table">
                            <tr>
                                <th class="text-center"><i class="fa fa-file-text"></i> File</th>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <div class="title">
                                        <h4><a href="#">View</a></h4>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <div class="title">
                                        <h4><a href="#">View</a></h4>
                                    </div>
                                </td>
                            </tr>


                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<style type="text/css">
    table.manage-table td {
        padding: 5px 20px;
    }
</style>
