
@{
    ViewBag.Title = "Test";
    Layout = "~/Areas/Client/Views/Shared/_ClientLayout.cshtml";
}


<div class="container-fluid">
    <div class="dashboard-header">
        <h1>Properties</h1>
        <a href="#" class="btn btn-primary">Create New Property</a>
    </div><!-- /.dashboard-header -->
    <div class="dashboard-subheader">
        <h2>123 Properties Matching Your Criteria</h2>
        <div class="dashboard-subheader-actions">
            <a href="#" class="btn btn-secondary"><i class="fa fa-filter"></i> Redefine Search Criteria</a><a href="#" class="btn btn-secondary"><i class="fa fa-times"></i> Remove All</a>
        </div><!-- /.dashboard-subheader-actions -->
    </div><!-- /.dashboard-header -->
    <!-- /.row -->
</div>
