*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 850px) {

    header h3{
        float: none;
        text-align: center;
    }

    header a{
        margin-top: 20px;
        float: none;
    }

}
