@model RealEstate.Entities.ViewModels.MstCheckLoggedClientDeal


@*@if (User.IsInRole("Client"))
{
    if (Model.CheckDeal.Count() > 0)
    {
        <li class="nav-item nav-item-parent" id="sidebar">
            <a href="@Url.Action("List","MyDeal",new { @area="Client"})" class="nav-link kk">
                My Properties
            </a>

        </li>


        
    }

   
}*@



@if (User.IsInRole("Client"))
{
    if (Model.CheckDeal.Count() > 0 || Model.CheckSharedDeal.Count()>0)
    {

        @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="true">My Properties</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item check-deal" href="@Url.Action("List","MyDeal",new { @area="Client"})"><i class="flaticon-mobile-application"></i>My Transactions</a>

            </div>
        </li>*@
        @*<li data-toggle="collapse" data-target="#myProperties" class="collapsed ">
            <a href="#">My Properties <span class="arrow"></span></a>
        </li>
                                                <ul class="sub-menu collapse  " id="myProperties">
                                                    <li class="check-deal"><a class="" href="@Url.Action("List","MyDeal",new { @area="Client"})"><i class="flaticon-mobile-application"></i>My Transactions</a></li>
                                                </ul>*@

                                                <li class="check-deal">
                                                    <a href="@Url.Action("List", "MyDeal", new { @area = "Client" })">My Properties </a>
                                                </li>
    }


}