 .responsive {
        display: block;
        position: relative;
        width: 300px;
        padding: 30px;
        margin-left: 420px;
        margin-top:80px;
    }

 @media (min-width: 600px) {
  .responsive {
     display: block;
        position: relative;
        width: 300px;
        padding: 30px;
        margin-left: 420px;
  }
}