@model RealEstate.Entities.ViewModels.TeamMemberViewModel
@{
    ViewBag.Title = "Just BE | About";
    Layout = "~/Views/Shared/_LayoutCommonNew.cshtml";
}
<style>
    /*section.aboutNewPage{
        min-height:414px;
    }*/
    .aboutInnerSec{
        min-height:571px!important;
    }
    .carousel-item p{
        font-size:20px;
        line-height:28px;
    }

    div#carouselExampleAbout .carousel-inner{
     bottom:30px!important;
    }

    .abt-img-sty{

    }
</style>
<!--  about page Start  -->
<section class="aboutNewPage" style="background: url('/img/aboutPageBg.jpg') ; background-size: cover; background-position: center;">
    <div class="container">
	
	<div class="row">
            <div class="col-md-12">
			<div class="ourTeamf">
			       <h3>About Us </h3>
			 </div>
			 </div>
			  </div>
	
        <div class="row">
            <div class="col-md-12">
                <div class="aboutInnerSec aboutUsCarouselWrap">
                    <div id="carouselExampleAbout" class="carousel slide" data-ride="carousel" data-interval="15000">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleAbout" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleAbout" data-slide-to="1"></li>
                            <li data-target="#carouselExampleAbout" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">

                                <div class="max-content-about">
<p>Today's process of buying or selling a home is archaic.  Consumers get better tech and transparency when ordering an $8 pizza than they do on an $800K home purchase (or, sale).  Let's face it, today's real estate process is messy, confusing, and stressful. But, it doesn't have to be. That is why we had to build Just BE - a team that is obsessed with making the purchase and sale of real estate more fun, less stressful, and highly rewarding for our clients.  Figuring out where your meant to be can change your life. We are here to show you the way</p>								</div>					

                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                        <div class="signatureInner">
                                            <img class="abt-img-sty jaySig" src="/img/Signatures/JaySign.png"   alt="jaySignature">
                                        </div>
                                        <div class="signatureBox1">
                                            <div class="signatureInner1">
                                                <a href="/About/JayBauer"><img class="img-thumbnail rounded-circle abt-img-sty" src="/img/teamMembers/Jay.jpg" style="width:85px" alt=""></a>
</div>
                                            <div class="link-about-sec">
                                                <a href="/About/JayBauer">Get to know Jay</a>
                                            </div>
                                        </div>

                                    </div>



                                </div>


                            </div>
                            <div class="carousel-item">
								
								<div class="max-content-about">
                          <p>Where most real estate groups simply want to sell you a home, Just BE Real Estate is here to help you feel at home. In an industry saturated with greed, selfishness and apathy, we at Just BE strive to make you feel heard and appreciated, and with our collective knowledge, experience, and technology, that is exactly what we will do.</p>	
                                    <p>Just BE has one primary mission above all else, and that is to help you..well….BE! Every step along the way is carefully crafted and meticulously focused on to guarantee that our clients feel prioritized and cared for. No more transaction-focused mentalities, no more hard selling.</p>
                                    <p>The experience of buying or selling a home is too meaningful and impactful to simply treat it as a transaction, as so many agents do. We want you to know that we have all been there ourselves, and we understand what pressures and concerns it can bring. </p>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                        <div class="signatureInner">
                                            <img class="abt-img-sty" src="/img/Signatures/ZackSign.png" style="width:100px; float:left;" alt="zackSignature" >
                                        </div>
                                        <div class="signatureBox1">
                                            <div class="signatureInner1">
                                                <a href="/About/ZackLondon">   <img class="img-thumbnail rounded-circle abt-img-sty" style="width:85px" src="/img/teamMembers/Zack.jpg" alt=""></a>
</div>
                                            <div class="link-about-sec">
                                                <a href="/About/TeamMember?Name=ZackLondon">Get to know Zack</a>
                                            </div>
                                        </div>

                                    </div>



                                </div>


                            </div>
                            <div class="carousel-item">

								<div class="max-content-about">
               <p>At Just BE, we aim to be the world’s first real estate brand dedicated to building and improving our clients’ overall way of life.  We fundamentally believe, and have learned through our own experiences, that discovering exactly where you’re meant to be can impact all the other elements of your life.</p>
                                    <p>We’re a bunch of fun (so we’ve been told), hardworking (as we’ve proven), and passionate (as you’ll see), folks who love spending time together and with our clients. Your successes are our successes, and we’ll do whatever it takes to find the best possible outcome for you.  We’re working hard to blend new tech and years of experience together to create a seamless and unprecedented home buying and selling experience.</p>
                                    <p>We’re so excited to shake up the real estate space as we know it, and hope you’ll join us for the journey!</p>
								</div>


                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                        <div class="signatureInner">
                                            <img class="abt-img-sty" src="/img/Signatures/MaceySign.png" style="width:100px; float:left;"  alt="macySignature">
                                        </div>
                                        <div class="signatureBox1">
                                            <div class="signatureInner1">
                                                <a href="#!">  <img class="img-thumbnail rounded-circle abt-img-sty" style="width:85px" src="/img/teamMembers/Macey.jpg" alt=""></a>
</div>
                                            <div class="link-about-sec">
                                                <a href="#!">Get to know Macey</a>
                                            </div>
                                        </div>

                                    </div>



                                </div>


                            </div>



                        </div>
                        <a class="carousel-control-prev carousel-control-prev-about" href="#carouselExampleAbout" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next carousel-control-next-about" href="#carouselExampleAbout" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
        </div>
</section>
<!--  about page End  -->

<style>
    .link-about-sec a:hover {
    color: #000!important;
}
    .img-thumbnail {
        padding: 0;
    }

.aboutInnerSec {
        background: rgba(255,255,255,.9);
            color: #000;
}

div#carouselExampleAbout {
    min-height: 460px;
}

.aboutUsCarouselWrap.aboutInnerSec {
    padding-bottom: 0;
    min-height: 522px!important;
}

.aboutUsCarouselWrap div#carouselExampleAbout {
    min-height: 430px;
}

.aboutUsCarouselWrap .carousel-indicators {
    margin-bottom: 0;
    bottom: 8px;
}

.aboutUsCarouselWrap a.carousel-control-prev-about,
.aboutUsCarouselWrap a.carousel-control-next-about {
     top: 38%;
}

.aboutNewPage { text-align: center;
    margin-bottom: 14px;
    position: relative;}

    .ourTeamf {
    margin: 28px 0;
    background: #fff;
    width: auto;
    display: inline-block;
    line-height: 23px;
    padding: 12px 20px;
    background: rgba(255,255,255,.8);
}
.aboutInnerSec  { box-shadow: 0 5px 50px rgba(0,0,0,.2);}
.ourTeamf h3 {  padding:0px; margin:0px;  }

#carouselExampleAbout .carousel-item p {   text-align:left; }

#carouselExampleAbout ol.carousel-indicators li {
       background-color: #000;
}

.aboutUsCarouselWrap #carouselExampleAbout ol.carousel-indicators li {
    margin-bottom: 0;
}

.aboutUsCarouselWrap .signatureBox1 {
    height: 118px!important;
}
.aboutUsCarouselWrap .signatureInner1,
.aboutUsCarouselWrap .signatureInner {
    height: 96px;
}
@@media only screen and (max-width: 767px) {
.signatureInner {
         width: 100%;
}
.signatureBox1 {
        display: inline-block;
            float: none;
}
}
</style>
