
@{
    ViewBag.Title = "Just BE | Christopher Plog";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}



<div class="page-section">

    <div class="half-bg-col one-col-img">

        <div class="container">
            <div class="row flex-row flex-center">
                <div class="col-sm-6">

                    <div class="half-bg-left push-top">

                        <div class="img-col-left">
                            <div class="custom-slider">
                                <img src="https://justbere-d4d9.kxcdn.com/img/Chrisplog.jpg" alt="">
                            </div>
                        </div>
                        <div class="img-content">

                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="img-content">
                        <h3 class="section-title">Christopher Plog</h3>
                        <h4 class="section-title">Realtor®</h4>
                        <p> Raised in the DC area, Chris graduated from Bethesda Chevy Chase High School and then went on to obtain dual degrees in Psychology and Criminal Justice from the University of Maryland. He has always been passionate about helping others and combined with his experience, intimate knowledge of the DC metro area, and the current market climate, Chris will be a true advocate in your journey towards a wonderful home. </p>
                        <p>Chris is recognized by the Washingtonian Magazine as a regional top producing agent.</p>
                        <p>Outside of real estate, you can find Chris performing with his band, enjoying outdoor adventures, and sampling the many offerings of the DMV’s burgeoning restaurant scene.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div id="content">
        <div class="container">
            <div class="page-section-4">

                <div class="row">
                    <div class="col-md-5 col-sm-12">

                        <div class="price-section">
                            <span style="color:#ffffff">Price:</span>
                            <h2 class="price-numb" style="color:#ffffff">$1,800,000</h2>
                            <p style="color:#ffffff">($2,143 per ft2)</p>
                        </div>

                    </div>
                    <div class="col-md-7 col-sm-12">

                        <div class="contact-form-wrap">

                            <div class="contact-popup">

                                <div class="content-element3">

                                    <h3>Contact Christopher Plog</h3>
                                    <p class="text-style2">Schedule a Visit</p>

                                </div>

                                @{Html.RenderAction("AgentContact", "About");}




                                <div class="our-contact-section">

                                    <a href="tel:2406878454" class="link-text with-icon-left" content="telephone=no"><span class="licon-telephone"></span>+1 240-687-8454</a>
                                    <a href="mailto:christopher.plog@compass.com" class="link-text with-icon-left"><span class="licon-envelope"></span>christopher.plog@compass.com</a>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="map-section">
            <div id="googleMap3" class="map-container"></div>
        </div>
    </div>

</div>


@section Scripts {
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDXEt4EVK4gaEgVfsfeIOEUgA5h59eD7Tg"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('form').submit(function () {
                if (isValidEmailAddress($("#Email").val())) {
                    $("#ajaxLoading").css("display", "block");
                    $("#ajaxLoading").css("top", $(window).height() / 1.8);
                    $("#ajaxLoading").css("left", $(window).width() / 2);
                    $("#ajaxLoading").css("position", "fixed");
                    $("#ajax-backdrop").css("display", "block");
                    var serializedForm = $(this).serialize();
                    $.ajax({
                        url: '@Url.Action("AgentContact")',
                        type: "POST",
                        data: $('#contact-form').serialize() + "&Email=christopher.plog@compass.com&Name=Christopher",
                        success: function (result) {
                            $('#SucessView').text('').hide();
                            $('#ErrorView').text('').hide();
                            $("#ajaxLoading").css("display", "none");
                            $("#ajax-backdrop").css("display", "none");
                            if (result == "Thanks for your submission, we will be in touch shortly ") {
                                $('#SucessView').text(result).show();
                            $('#ContactPerson').val('');
                            $('#Email').val('');
                            $('#Phone').val('');
                            $('#Subject').val('');
                            $('#Message').val('');
                            grecaptcha.reset();
                            }
                            else {
                                $('#ErrorView').text(result).show();

                            }
                        },
                        error: function (result) {

                            $('#ErrorView').text(result).show();
                            //$('#Error').text(result.Email);
                        }

                    });

                }
                else {
                    $("#ErrorView").text("Invalid Email Address!").show().fadeOut("slow");
                }

                return false;
            });
        });

        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(emailAddress);
        }


    </script>
<script src='https://www.google.com/recaptcha/api.js'></script>
}
