
@{
    ViewBag.Title = "Just BE | Dana Cloud";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}



<div class="page-section">

    <div class="half-bg-col one-col-img">

        <div class="container">
            <div class="row flex-row flex-center">
                <div class="col-sm-6">

                    <div class="half-bg-left push-top">

                        <div class="img-col-left">
                            <div class="custom-slider">
                                <img src="https://justbere-d4d9.kxcdn.com/img/DanaCloud.jpg" alt="">
                            </div>
                        </div>
                        <div class="img-content">

                            <p>Dana enjoys the process of assisting individuals, couples and families with one of the most significant purchases and life changing events in their lives. She also enjoys working with investors and developers to find viable properties to renovate in the DC metro area. Dana's desire is to make the home buying and selling experience as enjoyable and stress free as possible for her clients. </p>
                            <p>Dana is pleased to be settled on the East Coast in Alexandria, Virginia. She welcomes the opportunity to work with buyers, sellers, and investors/developers with their real estate needs in the Washington DC, Maryland and Northern Virginia region. </p>

                         </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="img-content">
                        <h3 class="section-title">Dana Cloud</h3>
                        <h4 class="section-title">Realtor,Military Relocation Professional, MRP</h4>

                        <p>
                            Dana was born into the world of homes. Her grandfather and his twin brother started 'Reinke and Sons’ Construction in South Bend, Indiana which became a residential and commercial building success. Her father developed his skills in masonry, which paid for his degree in Architecture at the University of Cincinnati. Her father's brother became a successful real estate agent in South Bend. Her mother was also bit by the real estate bug and sold real estate in Loveland, Colorado in the 1980’s.
                        </p>
                        <p>
                            Without a doubt, Dana's family had a tremendous influence on her desire to become a Realtor back in 1996. Her career in real estate began in Boulder, Colorado, where she was later recruited by a top real estate brokerage to work predominantly as a Buyer’s Agent and Relocation Specialist.
                        </p>
       </div>

                </div>
            </div>
        </div>

    </div>

    <div class="half-bg-col one-col-img" style="background-color:#ecf0f3a3;">

        <div class="container">
            <div class="row flex-row flex-center flex-reverse">
                <div class="col-sm-6">

                    <div class="img-content">
                        <h4 class="section-title">Award's</h4>

                        <p>The apartment is intended for those who want to feel the pulse of the city, yet wish to have the feeling of living in the nature. </p>
                        <p>There is a park close by which offers enough space for recreation and spending time with your pets. </p>
                    </div>

                </div>
                <div class="col-sm-6">


                    <div class="half-bg-right push-bottom">

                        <div class="img-col-right">
                            <div class="custom-slider">
                                <img src="https://justbere-d4d9.kxcdn.com/img/BestWashingtonian.png" alt="">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="content" class="page-content-wrap2">

        <div class="container container-size">


            <div class="content-element">

                <h4 class="section-title">Testimonials</h4>

                <div class="content-element2">

                    <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

                    <div class="carousel-type-1 align-center">

                        <div class="owl-carousel" data-max-items="1" data-autoplay="true">

                            <!-- Slide -->
                            <div class="item-carousel">
                                <!-- Carousel Item -->
                                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                                <div class="testimonial">

                                    <div class="testimonial-holder">

                                        <blockquote>
                                                <p>“What an amazing realtor! There are no words to describe Dana. She is reliable, thoughtful, very thorough and efficient at her job. She helped us through a difficult process with ease. I would recommend her to anyone looking for the very best realtor.”</p>
                                        
                                        
                                        </blockquote>

                                    </div>

                                    <div class="author-box">

                                        <a href="#" class="avatar">
                                            <img src="images/100x100_photo1.jpg" alt="">
                                        </a>

                                        <div class="author-info">

                                            <h6 class="author-name">C. Renee.</h6>
                                            <span class="author-position">Happy Buyer</span>

                                        </div>

                                    </div>

                                </div>
                                <!-- /Carousel Item -->
                            </div>
                            <!-- /Slide -->
                            <!-- Slide -->
                            <div class="item-carousel">
                                <!-- Carousel Item -->
                                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                                <div class="testimonial">

                                    <div class="testimonial-holder">

                                        <blockquote>
                                            <p>“Being a first time home buyer you never know how stressful to purchase your first home until you get into it. But with Dana Cloud professionalism and knowledge of the industry makes my home buying experience exciting and everything went smoothly. Dana is very thorough and willing to work within your schedule throughout the entire process. I highly recommend..”</p>
                                        </blockquote>

                                    </div>

                                    <div class="author-box">

                                        <a href="#" class="avatar">
                                            <img src="images/100x100_photo2.jpg" alt="">
                                        </a>

                                        <div class="author-info">

                                            <h6 class="author-name">E. Padillla.</h6>
                                            <span class="author-position">Happy Buyer</span>

                                        </div>

                                    </div>

                                </div>
                                <!-- /Carousel Item -->
                            </div>
                            <!-- /Slide -->
                            <!-- Slide -->
                            <div class="item-carousel">
                                <!-- Carousel Item -->
                                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                                <div class="testimonial">

                                    <div class="testimonial-holder">

                                        <blockquote>
                                            <p>“Jay recently helped me sell my condo in DC.  We met almost two years ago and I immediately felt that Jay was a friend of mine. Even though I resisted in staging my place, it was the right advice.  Jay had my place under contract within a week and got me the price that I wanted.”</p>
                                        </blockquote>

                                    </div>

                                    <div class="author-box">

                                        <a href="#" class="avatar">
                                            <img src="images/100x100_photo1.jpg" alt="">
                                        </a>

                                        <div class="author-info">

                                            <h6 class="author-name">NIRAJ M.</h6>
                                            <span class="author-position">Happy Buyer</span>

                                        </div>

                                    </div>

                                </div>
                                <!-- /Carousel Item -->
                            </div>
                            <!-- /Slide -->

                        </div>

                    </div>

                </div>



            </div>

        </div>





    </div>

    <div class="container" style="background-color:#ecf0f3a3;">

        <div class="align-center">

            <h3 class="section-title"><b>Explore Dana Cloud Listing</b></h3>
            <div class="page-nav">
                <a></a>
                <a href="@Url.Action("Contact","Home")" class="btn btn-big style-2">View here</a>
                <a></a>
            </div>

        </div>

    </div>
    <div id="content">
        <div class="container">
            <div class="page-section-4">

                <div class="row">
                    <div class="col-md-5 col-sm-12">

                        <div class="price-section">
                            <span style="color:#ffffff">Price:</span>
                            <h2 class="price-numb" style="color:#ffffff">$1,800,000</h2>
                            <p style="color:#ffffff">($2,143 per ft2)</p>
                        </div>

                    </div>
                    <div class="col-md-7 col-sm-12">

                        <div class="contact-form-wrap">

                            <div class="contact-popup">

                                <div class="content-element3">

                                    <h3>Contact Dana Cloud</h3>
                                    <p class="text-style2">Schedule a Visit</p>

                                </div>

                                @{Html.RenderAction("AgentContact", "About");}




                                <div class="our-contact-section">

                                    <a href="tel:5037530060" class="link-text with-icon-left" content="telephone=no"><span class="licon-telephone"></span>503.753.0060</a>
                                    <a href="mailto:dana.cloud@compass.com" class="link-text with-icon-left"><span class="licon-envelope"></span>dana.cloud@compass.com</a>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>



        <!-- Google map -->
        <div class="map-section">
            <div id="googleMap3" class="map-container"></div>
        </div>
    </div>

</div>


@section Scripts {
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDXEt4EVK4gaEgVfsfeIOEUgA5h59eD7Tg"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('form').submit(function () {
            if (isValidEmailAddress($("#Email").val())) {
                $("#ajaxLoading").css("display", "block");
                $("#ajaxLoading").css("top", $(window).height() / 1.8);
                $("#ajaxLoading").css("left", $(window).width() / 2);
                $("#ajaxLoading").css("position", "fixed");
                $("#ajax-backdrop").css("display", "block");
                var serializedForm = $(this).serialize();
                $.ajax({
                    url: '@Url.Action("AgentContact")',
                    type: "POST",
                    data: $('#contact-form').serialize() + "&Email=dana.cloud@compass.com&Name=Dana",
                    success: function (result) {
                        $("#ajaxLoading").css("display", "none");
                        $("#ajax-backdrop").css("display", "none");
                        $('#ErrorView').text(result).show();
                        $('#ContactPerson').val('');
                        $('#Email').val('');
                        $('#Phone').val('');
                        $('#Subject').val('');
                        $('#Message').val('');
                    },
                    error: function (result) {

                        $('#ErrorView').text(result).show();
                        //$('#Error').text(result.Email);
                    }

                });

            }
            else
            {
                $("#ErrorView").text("Invalid Email Address!").show().fadeOut("slow");
            }

            return false;
        });
    });

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    }


</script>
}
