
@{
    ViewBag.Title = "Just BE | Jay Bauer";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}


<div class="page-section">

    <div class="half-bg-col one-col-img">

        <div class="container">
            <div class="row flex-row flex-center">
                <div class="col-sm-6">

                    <div class="half-bg-left push-top">

                        <div class="img-col-left">
                            <div class="custom-slider">
                                <img src="https://justbere-d4d9.kxcdn.com/img/Jay.jpg" alt="">
                            </div>
                        </div>
                        <div class="img-content">

                            <p>I’m a graduate of Walt Whitman High School in Bethesda and I hold a degree in communications from the University of Delaware. My hobbies include biking, D.C.-area sporting and social events, boating (especially when I have the opportunity to take my clients out on the Potomac), hiking, and helping out where I can in the community. I truly love the D.C. area, and I put my passion and deep knowledge of the area, along with 10 years of real estate experience, to work for each and every client.</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="img-content">
                        <h3 class="section-title">Jay Bauer</h3>
                        <h4 class="section-title">Vice President, Realtor</h4>

                        <p class="text-justify">A northeast native, I’ve called the D.C. metro area home for over 20 years. I’ve always had a passion for real estate. Even as a kid, I’d ask my parents if I could join them while they toured model homes. Little did I know that 20 years later I’d be the one bringing clients through model homes and negotiating sales on their behalf! As a Realtor, I’m customer-driven, and always dedicated to exceptional service and results for my clients. </p>
                        <p>I’m licensed in D.C., Maryland, and Virginia, and I specialize in representing both buyers and sellers in the purchase and sale of single-family homes, row homes, townhouses, and condos throughout the D.C. metro area.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="half-bg-col one-col-img" style="background-color:#ecf0f3a3;">

        <div class="container">
            <div class="row flex-row flex-center flex-reverse">
                <div class="col-sm-6">

                    <div class="img-content">
                        <h4 class="section-title">Award's</h4>

                        <p>The apartment is intended for those who want to feel the pulse of the city, yet wish to have the feeling of living in the nature. </p>
                        <p>There is a park close by which offers enough space for recreation and spending time with your pets. </p>
                    </div>

                </div>
                <div class="col-sm-6">


                    <div class="half-bg-right push-bottom">

                        <div class="img-col-right">
                            <div class="custom-slider">
                                <img src="https://justbere-d4d9.kxcdn.com/img/BestWashingtonian.png" alt="">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="content" class="page-content-wrap2">

        <div class="container container-size">


            <div class="content-element">

                <h4 class="section-title">Testimonials</h4>
               
                <div class="content-element2">

                    <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

                    <div class="carousel-type-1 align-center">

                        <div class="owl-carousel" data-max-items="1" data-autoplay="true">

                            <!-- Slide -->
                            <div class="item-carousel">
                                <!-- Carousel Item -->
                                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                                <div class="testimonial">

                                    <div class="testimonial-holder">

                                        <blockquote>
                                            <p>“Jay helped us buy an apartment in downtown DC. Jay made the whole process not just hassle-free but enjoyable for us! He has in-depth knowledge of DC real estate market and has excellent interpersonal skills. We absolutely loved working with him and would refer him any day.”</p>
                                        </blockquote>

                                    </div>

                                    <div class="author-box">

                                        <a href="#" class="avatar">
                                            <img src="images/100x100_photo1.jpg" alt="">
                                        </a>

                                        <div class="author-info">

                                            <h6 class="author-name">HUMA K.</h6>
                                            <span class="author-position">Happy Buyer</span>

                                        </div>

                                    </div>

                                </div>
                                <!-- /Carousel Item -->
                            </div>
                            <!-- /Slide -->
                            <!-- Slide -->
                            <div class="item-carousel">
                                <!-- Carousel Item -->
                                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                                <div class="testimonial">

                                    <div class="testimonial-holder">

                                        <blockquote>
                                            <p>“Jay is in a class among himself.  His insights and strategy allowed me to sell my condo in five days and be able to purchase the house we really wanted - with a $20k credit at selling. Jay "gets it" and is constantly promoting to help maximize your profits with the quickest turnaround.”</p>
                                        </blockquote>

                                    </div>

                                    <div class="author-box">

                                        <a href="#" class="avatar">
                                            <img src="images/100x100_photo2.jpg" alt="">
                                        </a>

                                        <div class="author-info">

                                            <h6 class="author-name">ANGELO T.</h6>
                                            <span class="author-position">Happy Buyer</span>

                                        </div>

                                    </div>

                                </div>
                                <!-- /Carousel Item -->
                            </div>
                            <!-- /Slide -->
                            <!-- Slide -->
                            <div class="item-carousel">
                                <!-- Carousel Item -->
                                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                                <div class="testimonial">

                                    <div class="testimonial-holder">

                                        <blockquote>
                                            <p>“Jay recently helped me sell my condo in DC.  We met almost two years ago and I immediately felt that Jay was a friend of mine. Even though I resisted in staging my place, it was the right advice.  Jay had my place under contract within a week and got me the price that I wanted.”</p>
                                        </blockquote>

                                    </div>

                                    <div class="author-box">

                                        <a href="#" class="avatar">
                                            <img src="images/100x100_photo1.jpg" alt="">
                                        </a>

                                        <div class="author-info">

                                            <h6 class="author-name">NIRAJ M.</h6>
                                            <span class="author-position">Happy Buyer</span>

                                        </div>

                                    </div>

                                </div>
                                <!-- /Carousel Item -->
                            </div>
                            <!-- /Slide -->

                        </div>

                    </div>

                </div>

                

            </div>

        </div>


  

       
    </div>

    <div class="container" style="background-color:#ecf0f3a3;">

        <div class="align-center">

            <h3 class="section-title"><b>Explore Jay Bauer Listings</b></h3>
            <div class="page-nav">
                <a></a>
                <a href="https://www.compass.com/agents/dc/jay-bauer/" target="_blank" class="btn btn-big style-2">View here</a>
                <a></a>
            </div>

        </div>

    </div>
    <div  id="content" >
        <div class="container">
            <div class="page-section-4">

                <div class="row">
                    <div class="col-md-5 col-sm-12">

                        <div class="price-section">
                            <span style="color:#ffffff">Price:</span>
                            <h2 class="price-numb" style="color:#ffffff">$1,800,000</h2>
                            <p style="color:#ffffff">($2,143 per ft2)</p>
                        </div>

                    </div>
                    <div class="col-md-7 col-sm-12">

                        <div class="contact-form-wrap">

                            <div class="contact-popup">

                                <div class="content-element3">

                                    <h3>Contact Jay Bauer</h3>
                                    <p class="text-style2">Schedule a Visit</p>

                                </div>

                                
                                @{Html.RenderAction("AgentContact", "About");}



                                <div class="our-contact-section">

                                    <a href="tel:3017851100" class="link-text with-icon-left" content="telephone=no"><span class="licon-telephone"></span>301.785.1100</a>
                                    <a href="mailto:jay@justbere.com" class="link-text with-icon-left"><span class="licon-envelope"></span>jay@justbere.com</a>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>



        <!-- Google map -->
        <div class="map-section">
            <div id="googleMap3" class="map-container"></div>
        </div>
    </div>

</div>


@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDXEt4EVK4gaEgVfsfeIOEUgA5h59eD7Tg"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('form').submit(function () {
            if (isValidEmailAddress($("#Email").val())) {
                $("#ajaxLoading").css("display", "block");
                $("#ajaxLoading").css("top", $(window).height() / 1.8);
                $("#ajaxLoading").css("left", $(window).width() / 2);
                $("#ajaxLoading").css("position", "fixed");
                $("#ajax-backdrop").css("display", "block");
                var serializedForm = $(this).serialize();
                $.ajax({
                    url: '@Url.Action("AgentContact")',
                    type: "POST",
                    data: $('#contact-form').serialize() + "&Email=jay@jaybauergroup.com&Name=Jay",
                    success: function (result) {
                        $('#SucessView').text('').hide();
                        $('#ErrorView').text('').hide();
                        $("#ajaxLoading").css("display", "none");
                        $("#ajax-backdrop").css("display", "none");
                        if (result == "Thanks for your submission, we will be in touch shortly ") {
                            $('#SucessView').text(result).show();
                            $('#ContactPerson').val('');
                            $('#Email').val('');
                            $('#Phone').val('');
                            $('#Subject').val('');
                            $('#Message').val('');
                            grecaptcha.reset();
                        }
                        else {
                            $('#ErrorView').text(result).show();

                        }

                    },
                    error: function (result) {

                        $('#ErrorView').text(result).show();
                        //$('#Error').text(result.Email);
                    }

                });

            }
            else
            {
                $("#ErrorView").text("Invalid Email Address!").show().fadeOut("slow");
            }

            return false;
        });
    });

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    }


</script>
<script src='https://www.google.com/recaptcha/api.js'></script>
 }