
@{
    ViewBag.Title = "Just BE | Terms";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
<div id="content" class="page-content-wrap1">
    <div class="container">
        <article class="entry entry-single">
            <div class="entry-body">
                <h3 class="entry-title align-center">
                    Terms of Use
                </h3>
                <div class="content-element2">
                    <div class="row">
                        <div class="col-md-2 col-no-space"></div>
                        <div class="col-md-8">
                            <p>
                                The Just BE website and client portal were developed to provide you, the client, with key information you will need during your search for and/or sale of real estate property. The site also provides you an online platform where your real estate deal can be tracked. It does not replace any legal or financial advice you may receive during a standard real estate deal. During your journey and while working with us, we will send you email notifications with updates to your real estate deal, and we ask that you notify us if your main email address changes.
                            </p>
                            <p>
                                As a client and/or visitor to our site, you accept that your use of information on this site is at your own risk. Our real estate agents will assist you by providing guidance on real-time real estate market information.                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="entry entry-single">

            <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

            <div class="entry-body">

                <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                <h3 class="entry-title align-center">Privacy Policy</h3>

                <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                <div class="content-element2">

                    <div class="row">
                        <div class="col-md-2 col-no-space"></div>
                        <div class="col-md-8">
                            <p>
                                We are committed to respecting your right to privacy and protecting your information when you visit <a style="color: #37b6bd;" href="http://justbre.com"> Just BE</a> or use our services.
                            </p>
                            <p>
                                This Privacy Policy explains our information practices, including how we collect, use and share your personal information. This Privacy Policy is incorporated by reference in our Terms of Use and by using the Website or the Services (as defined therein), you consent to the terms of this Privacy Policy.
                            </p>
                        </div>


                        <div class="col-md-2 col-no-space"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-no-space"></div>
                        <div class="col-md-8">

                            <h5 class="sub-title">What information do we collect?</h5>

                            <p>
                                When you visit our website, and in the course of providing the Services, we collect information about you that does not identify you personally. This information may include the type of computer and browser you are using, Uniform Resource Locators ("URLs") used by you to access the Website, your Internet Protocol ("IP") address, your Machine Access Control ("MAC") address, and what web service you are using. We may also collect the date, time, and length of visit, and the pages you visit. Collecting this information helps us design the site and the services to best suit your needs. This information may be compiled and analyzed on both an individual and an aggregate basis.
                            </p>

                        </div>


                        <div class="col-md-2 col-no-space"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-no-space"></div>
                        <div class="col-md-8">

                            <h5 class="sub-title">Do we use cookies or other tracking devices?</h5>

                            <p>
                                A "cookie" is a small text file that is stored on your computer and makes it easy for you to move around a website without having to continually re-enter your name, password, preferences, and so on. We use cookies to store visitors' preferences, record user-specific information on what pages users access or visit, customize web page content based on visitors' browser type or other information that the visitor sends, and generally to optimize your website experience.
                            </p>

                            <p>
                                We may also use cookies for advertising and targeting purposes. In connection with this advertising, a unique ad-serving cookie will be placed on your computer by us or by a third party vendor. Non -personal information about your browser and your activity at this site may be used to inform, optimize and serve our ads.
                            </p>
                        </div>


                        <div class="col-md-2 col-no-space"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-no-space"></div>
                        <div class="col-md-8">

                            <h5 class="sub-title">What information do we collect as part of the services?</h5>

                            <p>
                                1. Client Information :(“Just BE.”) designed the website client portal with the client’s right to online privacy in mind. When you register and login to our site and access our password-protected client portal, your information will only be used to enhance your experience on the client portal. For example, we may provide you with e-mail alerts once we’ve completed a step in your real estate deal process or when we schedule an event associated with your active deal. You may opt out of these alerts after you create your profile; alternatively, you may return at anytime to update your email preferences and opt out.
                            </p>

                            <p>
                                Just BE. will not sell or share your information to any third parties.
                            </p>
                            <p>
                                2. Anonymous Information: Just BE. may collect data on how anonymous visitors browse and use our site. Collected data does not capture private or personal user information, and like most sites today, Just BE. reserves the right to capture this data to help us understand the site visitor experience and enhance our the visitors’ experience on our site.
                            </p>
                        </div>


                        <div class="col-md-2 col-no-space"></div>
                    </div>

                </div>
            </div>

            <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

        </article>
    </div>
</div>
<div class="page-content-wrap"></div>