
@{
    ViewBag.Title = "Just BE | Testimonials";
    Layout = "~/Views/Shared/_LayoutCommonNew.cshtml";
}

<section class="testimonialOuter">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="testi-title">Testimonials</h3>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                @*<select class="form-control" id="exampleFormControlSelect1">
                    <option>Sort by: All</option>
                    <option>Date</option>
                    <option>Buyer</option>
                    <option>Seller</option>

                </select>*@
            </div>
        </div>




        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">7/8/2016</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>Jay recently helped me sell my condo in DC.  We met almost two years ago and <strong> I immediately felt that Jay was a friend of mine.</strong>  Even though I resisted in staging my place, it was the right advice.  Jay had my place under contract within a week and got me the price that I wanted. <strong> Jay won't BS you... </strong>  He knows that market and he knows what he can and cannot do.  I like it when my friends are upfront with me!   I highly recommend Jay to anyone buying or selling a home.</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Niraj M.</strong></p>
                                <p class="text-center lightGray">Seller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">1/3/2016</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Jay deserves all of the praise and 5 star reviews he receives. Quite simply, <strong> my experience selling my condo in Columbia Heights exceeded all expectations. </strong> 
                                </p>
                                <p>I live in California, so selling from across the country is not without some distance-related anxiety...but <strong>Jay's knowledge, experience, responsiveness and no b.s. communication style put me fully at ease and made the sale process a real pleasure.</strong>  We formulated a strategy, stuck to the plan, and navigated the challenges of a softening market to successfully close the sale painlessly.</p>
                                <p> <strong>Jay was instrumental in advising on the pricing, marketing, and staging</strong>  - which was staggeringly beautiful. The listing was a work of art! He worked tirelessly to find a buyer and <strong>it felt like he was as invested in the sale as I was.</strong>  When the inspection required some minor maintenance, <strong>Jay rolled up his sleeves and actually did the work himself!</strong>  </p>
                                <p>I'm critical by nature so it's really a pleasure to be able to write a 100% positive review of someone that is just plain good at their job.</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Jim J.</strong></p>
                                <p class="text-center lightGray">Seller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">8/20/2015</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p> rarely give out 5 star reviews, but Jay deserves it. Any half-decent realtor can sell a nice condo but I have not encountered one until now that <strong>actually is so proactive, from getting down on hands and knees to fix something in the unit, to coordinating and supervising contract work.</strong> </p>
                                <p>Working with the Compass team is efficient and seemless and Jay always took my calls and answered emails very promptly, no matter what time or when I contacted him.</p>
                                <p>I'll be using him again and referring to my friends. <strong>All around good vibes and great work.</strong> </p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Anton E.</strong></p>
                                <p class="text-center lightGray">Seller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">11/23/2013</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>It was January 2012 when we first made contact with Jay, at which time he was with another brokerage.  We submitted a blind inquiry through a website and <strong> Jay reached out to us within minutes. </strong>    Since that first contact and now more than a year after we closed on our property with him as we recover from an electrical fire in our home <strong> - Jay continues to bring new meaning to the idea of a "full service" broker. </strong> </p>
                                <p>PART I-In early 2012 when we first connected with Jay, we were just dipping our toes into the Capitol Hill (DC) real estate market.  We would trade occasional emails but were clear with him that we still had financial preparations to undertake before we would be active buyers.  As mortgage rates continued to fall our prospects of being able to buy improved.  Jay continued to send us listings, helping us keep an eye on the market in our areas of interest. </p>
                                <p>By mid 2012, we were ready to begin pursuing properties. <strong>Jay sent us several informative, detailed emails personalized to our situation</strong>   with tips about documentation to prepare, tactics for making offers, etc.  Jay was always lightning fast in responding to questions and requests for showings.  The late summer/fall 2012 market on Capitol Hill was characterized by low inventory and lots of buyers - having a responsive agent was critical, and Jay was great in this regard.</p>
                                <p>Jay took us on ~30 showings over ~60 days.  Never once did we sense he was getting frustrated with the volume of properties we wanted to view.  Jay always had great insight into properties, for instance pointing out features that would be good in terms of resale value, or identifying renovations that would be cheap and easy vs. costly and difficult. <strong> Jay's good sense of the market helped us to make informed decisions.</strong>   </p>
                                <p>When it came time to make offers, Jay always worked to get a sense from the listing agents about the seller's situation to help inform our offer.  For instance, if the sellers were family-oriented people, we would include information in our offer about our young and growing family.  He also moved with great speed in submitting our offers once we had devised our strategy (initial offer, escalations, credits, etc.) <strong>It felt good to have an expert hustling for us.</strong> </p>
                                <p>We put in offers on 5 properties.  Offers 1, 2, and 4 failed because the properties went for well-above asking.  We had offered at or above asking (via escalation clauses) on all because it was clear from the open house that there was robust interest in the properties and it was clear from the market that the sellers had underpriced to let the market set the final sale price. <strong> Jay made a tremendous effort to get to know and negotiate with the owners </strong> of an FSBO property we really loved, but it was way overpriced and sellers wouldn't budge. </p>
                                <p>In the end, offer number 5 was the one.  We fell in love with number 5 but knew it was very underpriced and the sellers had an open house planned for Saturday.  Jay worked with the listing agent to see if they would entertain an offer in advance of the open house.  They were wishy washy but said they would entertain a compelling offer. <strong> We worked with Jay to come up with the right offer  </strong>  - high enough to be compelling, but low enough to not make them think they should hold our offer until the open house to see what else they might get.  We found the right number and had a ratified contract 24 hours after the listing went live.  Inspection revealed some issues with the property, and <strong></strong> Jay was able to negotiate very fair and reasonable accommodations for us.</p>
                                <p><strong>Communication throughout closing was a breeze, </strong>  and we took possession 31 days after we first viewed the property.  We love this home and have referred many friends to Jay as a result of our experience. </p>
                                <p>PART II-In late October, 2013, we experienced an electrical fire in our home in the middle of the night.  Some wiring in the attic caused a fire and caused a serious amount of damage (we expect to be out of the house for 3-4 months during restoration).</p>
                                <p>Jay heard about the fire the morning after and reached out to see how he could help.  We asked Jay if he could put a realtor's key lockbox on the door to facilitate all the contractors coming and going - he had it done within a few hours of us asking.</p>
                                <p>Even though Jay focuses on sales, he burned up the phone lines and sent dozens of emails on our behalf looking for short term rental properties for us after the fire.  Jay went so far as to scour MLS for properties meeting our specs that had been sitting on the market for a while to see if the owners would entertain a short term rental with guaranteed payment (insurance).</p>
                                <p>As we've transitioned to restoration of our property, <strong> Jay visited with us to give us a sense of some improvements we could make while repairing the fire damage </strong> that would help add value to the property.  He gave us some great ideas and insights into features that increase sale prices and entice buyers.  The information was a huge help.</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>D.B.</strong></p>
                                <p class="text-center lightGray">Buyer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">5/11/2013</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>I recently bought my first home and I am pleased to say that Jay was huge help!  </p>
                                <p>Top facts about my experience home-hunting with Jay:</p>

                                <ul class="testListing">
                                    <li>Jay tries his best to make sure that you get the home you want</li>
                                    <li><strong> He listens to your list and helps you to decide the aspects of the home which are your top priorities </strong> </li>
                                    <li>We will show you anything you want but will <strong>let you know which ones are just not a good fit</strong> </li>
                                    <li>Jay will not rush you into any purchases</li>
                                    <li>All members of the DC Area Metro Real Estate ecosystem like and trust Jay.  He is well-connected  and can put you in contact with all sorts of people so you can help you make the most out of your sale or purchase.</li>
                                    <li>He generally knows what to ask and will tell you any potential problems that he foresees with your deal.</li>
                                    <li>He will get the best deal possible for you either on a sale or purchase.  </li>
                                    <li>After I vetted Jay with my home purchase, I referred him to my friends. <strong> One friend sold her place within 24-hours after listing. </strong>  </li>
                                    <li>Jay will make the home purchase or sale process as simple as possible so you understand what you are getting yourself into.</li>
                                    <li>No matter what your price range, Jay will give you the <strong> utmost attention possible with unparalleled high quality customer service. </strong> </li>
 
                                </ul>

                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>

                                <p class="text-center tname"><strong>Maria Q.</strong></p>
                                <p class="text-center  lightGray">Buyer</p>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        <!-- Testimonial One E -->
        <div class="row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item ">
                            <a class="page-link" href="@Url.Action("page1","Testimonials")" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item "><a class="page-link" href="@Url.Action("page1","Testimonials")">1</a></li>
                        <li class="page-item active"><a class="page-link" href="@Url.Action("page2","Testimonials")">2</a></li>
                        <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                        <li class="page-item disabled">
                            <a class="page-link" href="@Url.Action("page2","Testimonials")">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>
</section>

