
@{
    ViewBag.Title = "Just BE | Testimonials";
    Layout = "~/Views/Shared/_LayoutCommonNew.cshtml";
}

<section class="testimonialOuter">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="testi-title">Testimonials</h3>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                @*<select class="form-control" id="exampleFormControlSelect1">
                    <option>Sort by: All</option>
                    <option>Date</option>
                    <option>Buyer</option>
                    <option>Seller</option>
                </select>*@
            </div>
        </div>


        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">9/30/2019</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>Working with Zack and Jay to purchase our new home and sell our old one was amazing. <strong>Their knowledge and guidance made the whole process go smoothly and without stress!</strong>  That is saying quite a bit when leaving a home after thirty years! They understood our goals, and listened to us carefully as to what we wanted and how we wanted to achieve them. They helped us make this enormous life change happen. Thanks to Just Be! They are the best!</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Kathy L.</strong></p>
                                <p class="text-center lightGray">Buyer/Seller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">1/24/2019</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    I met Jay through a referral back in 2014 as I was looking to sell my home in the DC area as I was relocating to the West Coast. Jay did an awesome job and <strong>helped me to get my home sold in about 1 week!</strong>  From then, I knew that I would be a customer for life! In late fall 2018, I decided that it was time to move back to the DC area and Jay was my first call. Again, from the first text message, Jay was all over it. The place that I had located was a bit outside of the city and Jay made trips back and forth as often as needed, as he was my eyes and ears here in the area while I was still located on the West Coast. <strong>Jay did FaceTime walkthroughs with me, and sent me video footage of the property. Ultimately, it was his seal of approval on the neighborhood and area that made me go forward with a contract on the home prior to ever seeing it in person.</strong>  That alone should speak volumes to the level of trust I have in Jay and his team. Jay made this entire thing super easy, yet again. I would recommend Just BE to anyone looking for a realtor in the DC area. Jay is not only my number 1 realtor in the area but he's a friend for life!
                                </p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Colin C.</strong></p>
                                <p class="text-center lightGray">Buyer/Seller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">4/25/2018</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>Jay never ceases to amaze me with his personal care and attention with his clients. I am a Designer and Work with some of Jay's clients helping them either remodel their places to get ready for sale or after they move into their new home and want to make it their own. I work with several realtors in Dc and <strong> Jay is by far the most involved and cares about his clients needs </strong>  making sure they are taken care of and getting the best deals on quality products. I love how he wants to make it perfect more than anyone involved. I always tell him, "If your clients only knew how much of your time and care you put in on this end which is NOT normal".... in response he said his clients don't need to see everything he does behind the scenes to make it as smooth and enjoyable of an experience when it's usually a stressful time. I think that says a lot- someone who doesn't seek a pat on the back- just wants to take care of his clients the old fashioned way. So- I had to say something because this way of doing business is rare and I feel should be applauded. Jay- you go above & beyond and on behalf of your clients and myself- thank YOU!</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Hannah G.</strong></p>
                                <p class="text-center lightGray">Vendor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">12/5/2017</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>Jay was our agent when we sold our  unit back in 2011.  We moved out of state and didn't expect to come back to DC.  Even when we were away Jay kept in touch. <strong> His loyalty to his customers is sincere. </strong>    When we unexpectedly moved back to DC, Jay found us the perfect unit to move back to.</p>
                                <p> <strong> He is passionate about what he does and the relationships he fosters and maintains. </strong>   In my opinion there is no other agent to work with in DC. I highly recommend him and the company.  You will not be disappointed.</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>M.M.</strong></p>
                                <p class="text-center lightGray">Seller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->

         <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">9/7/2017</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>We worked with Jay on our recent home purchase, and quite simply, <strong>he and his team are the best in the business.</strong>  Jay is incredibly professional and invests in getting to know and befriend his clients in <strong> a really genuine way,</strong>  taking care of them from the first phone call through well after they move in. He's always available to arrange for showings/answer questions/provide advice and insights, and is <strong>really proactive in getting his clients a great deal and making sure they are happy with their purchase.</strong>  We would absolutely work with Jay again and strongly recommend him to others looking to buy or sell!</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Anita R.</strong></p>
                                <p class="text-center lightGray">Buyer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">8/19/2017</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>Jay is really really awesome! Would love to work with him every time I am buying or selling real estate!!!</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Raj C.</strong></p>
                                <p class="text-center lightGray">Buyer/Seller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">8/10/2017</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>I selected Jay to sell my DC condo based on <strong>his credentials, his network and contacts, his successful sales history, his familiarity with my area and most of all, his knowledge of what it would take to sell my unit. </strong>  I left DC when my condo went on the market and was thankful Jay was able to cover for me in my absence.  Not only did his sales strategy work but he always handled himself professionally and was extremely helpful to me all through the process.  What more can I say as a recommendation to anyone looking for a realtor.</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Mary M. </strong></p>
                                <p class="text-center lightGray">Seller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">4/4/2017</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>Jay was referred to by a friend, <strong> and I can't imagine that I would be able to close on the house without his help.</strong>  He was extremely professional, always available for advice, pro-actively addressed my concerns and make sure the whole process was seamless. He even addressed issues outside of the normal close process to make sure that we get everything in order to ensure the buy. <strong>I really appreciate his informal attitude, and his get-it-done mindset.</strong>  Great job to the Bauer team!</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Titus E.</strong></p>
                                <p class="text-center lightGray">Buyer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">8/26/2016</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>I highly recommend Jay. <strong> After having my place sit on the market for 60 days with no offers, Jay parachuted in, revised the listing, and got two offers *without any reduction in price.*</strong>   Many will assume, as I did, that the listing agent does not make any real difference.  Jay proves that wrong and gets the job done.</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Joseph S.</strong></p>
                                <p class="text-center lightGray">Seller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->
        <!-- Testimonial One S -->
        <div class="row row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <p class="text-right lightGray">8/24/2016</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <p>Jay, Kristen and the rest of the Compass team were great to work with on the sale of my Penn Quarter condo.  </p>
                                <p> <strong> This is my 4th real estate transaction in 4 years and Jay's team has been the best I've worked with. </strong>   Anyone can facilitate a sale, host open houses, and run closings, but agents earn there commission is in their intelligence and knowledge of the city and building specific markets, which this team has in spades.  I listed and closed in 2 months at my target price, 20 days before my tenant moved out so I didn't have any cashflow gap. </p>
                                <p>Like another reviewer I was selling while out of state and therefore couldn't be as hands on I would have liked.  Jay and team picked up the slack and were always available to talk with me on price and marketing, worked with my tenant to show, dealt with inspections and even handled all pre-close fixes and cleaning.</p>
                                <p>Top notch team, top notch experience.</p>
                                <p class="text-center">
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p class="text-center tname"><strong>Stanley H.</strong></p>
                                <p class="text-center lightGray">Seller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial One E -->



        <div class="row justify-content-md-center offset-top30">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="@Url.Action("page1","Testimonials")l" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="@Url.Action("page1","Testimonials")">1</a></li>
                        <li class="page-item "><a class="page-link" href="@Url.Action("page2","Testimonials")">2</a></li>
                        <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("page2","Testimonials")">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>
</section>

