@model RealEstate.Entities.ViewModels.MstFullLeadViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_RealEstate.cshtml";
}


<section class="content-header">
    <h1>
        Full Lead
        <small>List </small>
    </h1>
</section>
<div>
    @Html.Partial("pvFullLead", Model);
</div>